<!doctype html>
<html lang="en">
<head>

    <!-- Set the encoding of the style sheet to Specifies the character encoding for the HTML document -->
        <meta charset="utf-8">

    <!-- Setting the viewport to make your website look good on all devices -->
            <meta name="viewport" 
                  content="width=device-width, initial-scale=1, shrink-to-fit=no">

            
    <!-- ### start ##########################  Set the document's Info ######################################## -->
        <!-- defines the document's title that is shown in a browser's title bar or a page's tab -->
        <title>Cafe House</title>

        <!-- Short description of the document's subject (limit to 150 characters) -->
        <!-- This content *may* be used as a part of search engine results. -->
        <meta name="description" 
              content="Live view page for templatemo 466 cafe house...">
        
        <!-- Set keywords words relevant to the page's content be used as a part of search engine results -->
        <meta name="keywords" 
              content="Coffee,tea,cappuccino,mocha,americano,Breads,Bagels,Cookies">

        <!-- Set the name of the document's author. -->
        <meta name="author" 
              content="Amr Saad Abdallah">

        <!-- Set the base URL for all relative URLs within the document -->
        <base href="./">
        
        <!-- Set  favicon.ico in the root directory -->
        <link rel="icon" 
              href="../content/assets/favicon/CafeFavicon.ico" sizes="32x32">

        <!-- Links to information about the author(s) of the document -->
        <link rel="author" 
              href="../author.txt">

        <!-- Provides information about an author -->
        <link rel="me" href="http://www.linkedin.com/in/amr-saad-tolba" type="text/html">
        <link rel="me" href="mailto:amrsaadabdallah@gmail.com">
        <link rel="me" href="sms:+1211163545">
    <!-- ### end ############################################################################################## -->



    <!-- ### start ########################## CSS included libraries  ######################################### -->
        <!-- CSS Initialization Bootstrap Reboot to reduce browser inconsistencies in things like default line heights, 
                margins and font sizes of headings, and so on.  -->
                <link rel="stylesheet" href="../content/css/abstract/bootstrap-reboot.min.css" >

        <!-- Bootstrap Grid -->
            <link rel="stylesheet" href="../content/css/abstract/bootstrap-grid.min.css">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="../content/css/abstract/fontAwesome.css">
    <!-- ### end ############################################################################################## -->


    <!-- ### start ############################# CSS page style  ############################################## -->
        <link rel="stylesheet" href="../content/css/styles.css" >
    <!-- ### end ############################################################################################## -->

</head>
<body>





    <!-- ### start ############################# preloader section ############################################## -->
        <div class="preload" id="preload">
            <div class="content">
                <div class="logo">
                </div>
                <div class="loader-frame">
                    <div class="loader1" id="loader1">
                    </div>
                    <div class="circle"></div>
                    <h1 class="hello">Hello</h1>
                    <h5 class="wellcome">Wellcome in Cafe House</h5>
                </div>
            </div>
        </div>
    <!-- ### end ############################################################################################## -->




   
    <!-- ### start ############################# scroll Top Btn ############################################## -->
        <button id="scrollTopBtn"><i class="fas fa-chevron-circle-up"></i></button>
    <!-- ### end ############################################################################################## -->





    <!-- ### start ############################# navbar ############################################## -->
        <nav>
            <div class="container">
                <div class="navContent">
                    <div class="logo">
                        <img src="../content/assets/images/logo.png" alt="cafe house logo">
                        <span>Cafe House</span>
                    </div>

                    <button id="toggleBtn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <div class="navList">
                        <ul>
                            <li class="active"><a href="index.html">home</a></li>
                            <li><a href="todaySpecial.html">today special</a></li>
                            <li><a href="OurMenus.html">menu</a></li>
                            <li><a href="contact.html">contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    <!-- ### end ############################################################################################## -->





    <!-- ### start ############################# Header section  ############################################## -->
        <header>
            <div class="headerLayer">
                <div class="lighting">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="d-none d-md-block col-md-4">
                                <div class="image">
                                    <img class="w-100 d-block" 
                                        src="../content/assets/images/light.png" 
                                        alt="light spot image">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="image">
                                    <img class="w-100 d-block m-auto" 
                                        src="../content/assets/images/light.png" 
                                        alt="light spot image">
                                </div>
                            </div>
                            <div class="d-none d-md-block col-md-4">
                                <div class="image">
                                    <img class="w-100 d-block" 
                                        src="../content/assets/images/light.png" 
                                        alt="light spot image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="headerContent">
                    <div class="container">
                        <div class="text">
                            <h2>
                                <img src="../content/assets/images/header-line.png" alt="header line image">
                                &nbsp; Welcome To &nbsp;
                                <img src="../content/assets/images/header-line.png" alt="header line image">
                            </h2>
                            
                            <h1>Cafe House</h1>
                            
                            <p>Cafe House template is a mobile-friendly responsive <span>Bootstrap v3.3.5</span> layout by <a href="http://www.templatemo.com/"><span>templatemo</span></a>.  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusnec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                            
                            <button class="special">details</button>
                        </div>
                        <div class="tableImage">
                            <img class="w-100" 
                                src="../content/assets/images/table-set.png" 
                                alt="header background Image">
                        </div>
                    </div>
                </div>

            </div>
        </header>
    <!-- ### end ############################################################################################## -->



    

    <!-- ### start ############################# Best Coffee Section  ########################################### -->
        <section class="bestCoffeeSection">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-9">
                        <div class="content">
                            <h2>The Best Coffee for you</h2>
                            <h3>Cafe House</h3>
                            <p>This is free HTML5 website template from <span>templatemo</span>. Fndimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Ettiam sit amet orci eget eros faucibus tincidunt.</p>
                            <button class="special">read more</button>
                        </div>
                    </div>
                    <div class="col-md-3  mt-4 mt-md-0">
                        <div class="image">
                            <img src="../content/assets/images/1.jpg" alt="cupe coffe image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- ### end ############################################################################################## -->





    <!-- ### start ############################# Popular Items Section ########################################## -->
        <section class="PopularItemsSection"> 
            <div class="container">
                <div class="headingWithRule">
                    <img src="../content/assets/images/logo.png" alt="logo image">
                    <h2>Popular Items</h2>
                    <hr>
                </div>
                    
                <div class="popularItems">
                    <div class="row justify-content-center">
                        <div class="itemContainer col-12 col-md-6 col-lg-4">
                            <div class="item">
                                <div class="image">
                                    <img src="../content/assets/images/popular-1.jpg" alt="popular item-1">
                                </div>
                                <div class="content">
                                    <h3><span>a</span>mericano</h3>
                                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                                    <div class="orderContainer">
                                        <a class="order" href="#">order now</a>
                                    </div>                                </div>
                            </div>
                        </div>

                        <div class="itemContainer col-12 col-md-6 col-lg-4">
                            <div class="item">
                                <img src="../content/assets/images/popular-2.jpg" 
                                     alt="popular item-2">
                                <div class="content">
                                    <h3>americano</h3>
                                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                                    <div class="orderContainer">
                                        <a class="order" href="#">order now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="itemContainer col-12 col-md-6 col-lg-4">
                            <div class="item">
                                <div class="image">
                                    <img src="../content/assets/images/popular-3.jpg" alt="popular item-3">
                                </div>
                                <div class="content">
                                    <h3>americano</h3>
                                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                                    <div class="orderContainer">
                                        <a class="order" href="#">order now</a>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- ### end ############################################################################################## -->





    <!-- ### start ############################# Today Special Section  ####################################### -->
        <section class="todaySpecialSection"> 
            <div class="container">
                <div class="headingWithRule">
                    <img src="../content/assets/images/logo.png" alt="logo image">
                    <h2>Today's Special</h2>
                    <hr>
                </div>

                <div class="row align-items-center">
                    <div class="col-12 col-lg-7">
                        <div class="imageContainer">
                            <img src="../content/assets/images/special-1.jpg" alt="special item1 image">
                            <div class="overlay">
                                <a href="#">
                                    <h3>Donec pede justo</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-lg-5  mt-4  mt-lg-0">
                        <div class="imageContainer">
                            <img src="../content/assets/images/special-2.jpg" alt="special item1 image">
                            <div class="overlay">
                                <a href="#">
                                    <h3>Special Etiam sit amet</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                </a>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-6">
                                <div class="imageContainer">
                                    <img src="../content/assets/images/special-3.jpg" alt="special item1 image">
                                    <div class="overlay">
                                        <a href="#">
                                            <p>Vivamus elementum.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="imageContainer">
                                    <img src="../content/assets/images/special-4.jpg" alt="special item1 image">
                                    <div class="overlay">
                                        <a href="#">
                                            <p>Quisque rutrum.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    <!-- ### end ############################################################################################## -->







    <!-- ### start ############################# Daily Menu Section  ####################################### -->
        <section class="dailyMenuSection"> 
            <div class="container">

                <div class="headingWithRule">
                    <img src="../content/assets/images/logo.png" alt="logo image">
                    <h2>Daily Menu</h2>
                    <hr>
                </div>    

                <div class="row align-items-center mt-4">
                    <div class="col-6  offset-3  col-md-3  offset-md-0">
                        <div class="image">
                            <img class="w-100" src="../content/assets/images/menu-board.png" alt="menu board image">
                        </div>
                    </div>

                    <div class="col-12  col-md-8  offset-md-1  mt-4  mt-md-0">
                        <div class="content">    
                            <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                            
                            <ol>
                                <li>Tellus eget condimentum rhoncus.</li>
                                <li>Sem quam semper libero.</li>
                                <li>Sit amet adipiscing sem neque sed ipsum.</li>
                                <li>Nam quam nunc, blandit vel, luctus pulvinar.</li>
                                <li>Maecenas nec odio et ante tincidunt tempus.</li>
                                <li>Donec vitae sapien ut libero ventenatis faucibus.</li>
                            </ol>

                            <button class="special">read more</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    <!-- ### end ############################################################################################## -->





    <!-- ### start ############################# footer Section  ####################################### -->
        <footer>
            <div class="content">           
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-3  mb-4 mb-lg-0">
                            <div class="mainMenu">
                                <h3>MAIN MENU</h3>
                                <ul>
                                        <li><a href="#">home</a></li>
                                        <li><a href="#">about us</a></li>
                                        <li><a href="#">directory</a></li>
                                        <li><a href="#">blog</a></li>
                                        <li><a href="#">our services</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 col-lg-5  mb-4  mb-lg-0">
                            <div class="aboutus">
                                <h3>About Us</h3>
                                
                                <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>

                                <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <div class="socialLinks">
                                <h3>Get Social</h3>
                                <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante.</p>

                                <ul class="d-flex">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyRight">
                <div class="container">
                    <p>Copyright &copy; 2084 Your Cafe House. Design: <small><a href="http://www.templatemo.com">template mo</a></small></p>
                </div>
            </div>
        </footer>           
    <!-- ### end ############################################################################################## -->


    <script src="../content/js/index.js"></script>
</body>
</html>