// /* ################################  Start section ###################################### */
%sectionPadding { padding: size(50) size(0); }

%sectionBgLight { background-color: rgb(228, 228, 228); }

%sectionBgDark {  background-color: #302f2f; }
// /* ####End ############################################################################# */
