// The default font size for html is 16px
$base-size: 16 ;

$headingFont:  'Damion' , 'cursive'  , 'sans-serif' ; 
$paragraphFont:  'Open Sans', sans-serif;





// Colors
$mainColor: #c79c60;


//Header variables
$headerTableOffset: 100 ;




// spaces
// $spaceBetweenImgContent: 22 ;